
body {
	width: 100%;
	height: 100%;
}

*{
	transition: all 0.15s linear;
}

#board {
	z-index: 1;
	position: relative;
	background-image: url(../assets/board.png);
	background-size: cover;
	height: 405px;
    width: 536px;
    padding: 10px;
}

.piece {
	z-index: 2;
	width: 35px;
	height: 35px;
	position: absolute;
	background-size: cover;
}

.black-piece {
	background-image: url(../assets/bk-piece.png);
}

.white-piece {
	background-image: url(../assets/wh-piece.png);
}

.active {
	cursor: pointer;
}

.horizontal-spacer {
	width: 7px;
	height: 155px;
	float: left;
	opacity: 0.5;
}

.vertical-spacer{
	width: 100%;
	height: 14px;
	clear: both;
	opacity: 0.5;
}
.point {
	height: 200px;
	width: 37px;
	float: left;
}

.home {
	height: 200px;
	width: 43px;
	float: left;
}