.b1w3bsyd ._icon{height:16px;width:16px;margin:0 -5px;padding:2px 0;}
.txrhls5{text-align:right;}.txrhls5 > .__instructions{font-size:0.9rem;color:var(--neutral500);}.txrhls5 > .__link{font-size:0.9rem;color:var(--neutral200);}
